.DS_STORE
.vscode

# Created by https://www.gitignore.io/api/jupyternotebook
# Edit at https://www.gitignore.io/?templates=jupyternotebook

### JupyterNotebook ###
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/
#

# End of https://www.gitignore.io/api/jupyternotebook


# Created by https://www.gitignore.io/api/virtualenv
# Edit at https://www.gitignore.io/?templates=virtualenv

### VirtualEnv ###
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

# End of https://www.gitignore.io/api/virtualenv


# Created by https://www.gitignore.io/api/code
# Edit at https://www.gitignore.io/?templates=code

### Code ###
# Visual Studio Code - https://code.visualstudio.com/
.settings/
.vscode/
tsconfig.json
jsconfig.json

# End of https://www.gitignore.io/api/code